# dependencies
node_modules/
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env*.local

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
